annotated-types
anyio
certifi
charset-normalizer
contourpy
cycler
docutils
fastapi
fonttools
idna
Kivy
kivy-deps.angle
kivy-deps.glew
kivy-deps.sdl2
Kivy-Garden
kivy-garden.mapview
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
pydantic
pydantic_core
Pygments
pyparsing
pypiwin32
python-dateutil
pytz
pywin32
requests
scipy
six
sniffio
starlette
typing_extensions
tzdata
urllib3
websockets
